        <!--Timer Product Carousel Area Start-->
<div class="timer-product-carousel-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title"><h2>Sale Off</h2></div>
            </div>
        </div>
        <div class="row">
            <div class="product-carousel">
                <div class="col-md-3">
                    <!--item 1 start-->
                    <div class="single-product-item">
                        <div class="sale-product-label"><span>sale</span></div>
                        <div class="single-product clearfix">
                            <a href="#">
                                <span class="product-image">
                                    <img src="img/product/1.jpg" alt="">
                                </span>
                                <span class="product-image hover-image">
                                    <img src="img/product/2.jpg" alt="">
                                </span>
                                <div class="timer">
                                    <div data-countdown="2022/01/01" class="timer-grid"></div>
                                </div>
                            </a>
                        </div>
                        <h2 class="single-product-name"><a href="#">Aliquam consequat</a></h2>
                        <div class="price-box">
                            <p class="old-price">
                                <span class="price">$999.00</span>
                            </p>
                            <p class="special-price">
                                <span class="price">$944.00</span>
                            </p>
                        </div>
                    </div><!--end of item 1-->
                </div><!--end of col-md-3-->
                <div class="col-md-3">
                    <!--item 2 start-->
                    <div class="single-product-item">
                        <div class="sale-product-label"><span>sale</span></div>
                        <div class="single-product clearfix">
                            <a href="#">
                                <span class="product-image">
                                    <img src="img/product/2.jpg" alt="">
                                </span>
                                <span class="product-image hover-image">
                                    <img src="img/product/3.jpg" alt="">
                                </span>
                                <div class="timer">
                                    <div data-countdown="2022/01/01" class="timer-grid"></div>
                                </div>
                            </a>
                        </div>
                        <h2 class="single-product-name"><a href="#">Quisque in arcu</a></h2>
                        <div class="price-box">
                            <p class="old-price">
                                <span class="price">$876.00</span>
                            </p>
                            <p class="special-price">
                                <span class="price">$786.00</span>
                            </p>
                        </div>
                    </div><!--end of item 2-->
                </div><!--end of col-md-3-->
                <div class="col-md-3">
                    <!--item 3 start-->
                    <div class="single-product-item">
                        <div class="sale-product-label"><span>sale</span></div>
                        <div class="single-product clearfix">
                            <a href="#">
                                <span class="product-image">
                                    <img src="img/product/4.jpg" alt="">
                                </span>
                                <span class="product-image hover-image">
                                    <img src="img/product/5.jpg" alt="">
                                </span>
                                <div class="timer">
                                    <div data-countdown="2022/01/01" class="timer-grid"></div>
                                </div>
                            </a>
                        </div>
                        <h2 class="single-product-name"><a href="#">Proin lectus ipsum</a></h2>
                        <div class="price-box">
                            <p class="old-price">
                                <span class="price">$580.00</span>
                            </p>
                            <p class="special-price">
                                <span class="price">$400.00</span>
                            </p>
                        </div>
                    </div><!--end of item 3-->
                </div><!--end of col-md-3-->
                <div class="col-md-3">
                    <!--item 4 start-->
                    <div class="single-product-item">
                        <div class="sale-product-label"><span>sale</span></div>
                        <div class="single-product clearfix">
                            <a href="#">
                                <span class="product-image">
                                    <img src="img/product/6.jpg" alt="">
                                </span>
                                <span class="product-image hover-image">
                                    <img src="img/product/7.jpg" alt="">
                                </span>
                                <div class="timer">
                                    <div data-countdown="2022/01/01" class="timer-grid"></div>
                                </div>
                            </a>
                        </div>
                        <h2 class="single-product-name"><a href="#"> Donec ac tempus </a></h2>
                        <div class="price-box">
                            <p class="old-price">
                                <span class="price">$344.00</span>
                            </p>
                            <p class="special-price">
                                <span class="price">$222.00</span>
                            </p>
                        </div>
                    </div><!--end of item 4-->
                </div><!--end of col-md-3-->
                <div class="col-md-3">
                    <!--item 5 start-->
                    <div class="single-product-item">
                        <div class="sale-product-label"><span>sale</span></div>
                        <div class="single-product clearfix">
                            <a href="#">
                                <span class="product-image">
                                    <img src="img/product/11.jpg" alt="">
                                </span>
                                <span class="product-image hover-image">
                                    <img src="img/product/10.jpg" alt="">
                                </span>
                                <div class="timer">
                                    <div data-countdown="2022/01/01" class="timer-grid"></div>
                                </div>
                            </a>
                        </div>
                        <h2 class="single-product-name"><a href="#">Pellentesque habitant </a></h2>
                        <div class="price-box">
                            <p class="old-price">
                                <span class="price">$199.00</span>
                            </p>
                            <p class="special-price">
                                <span class="price">$105.00</span>
                            </p>
                        </div>
                    </div><!--end of item 5-->
                </div><!--end of col-md-3-->
                <div class="col-md-3">
                    <!--item 6 start-->
                    <div class="single-product-item">
                        <div class="sale-product-label"><span>sale</span></div>
                        <div class="single-product clearfix">
                            <a href="#">
                                <span class="product-image">
                                    <img src="img/product/13.jpg" alt="">
                                </span>
                                <span class="product-image hover-image">
                                    <img src="img/product/12.jpg" alt="">
                                </span>
                                <div class="timer">
                                    <div data-countdown="2022/01/01" class="timer-grid"></div>
                                </div>
                            </a>
                        </div>
                        <h2 class="single-product-name"><a href="#">Primis in faucibus</a></h2>
                        <div class="price-box">
                            <p class="old-price">
                                <span class="price">$645.00</span>
                            </p>
                            <p class="special-price">
                                <span class="price">$534.00</span>
                            </p>
                        </div>
                    </div><!--end of item 6-->
                </div><!--end of col-md-3-->
            </div>
        </div>
    </div>
</div>
<!--End of Timer Product Carousel Area-->