@model StockProductsModel   

     <!--Timer Product Carousel Area Start-->
<div class="timer-product-carousel-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title"><h2>Sale Off</h2></div>
            </div>
        </div>
        <div class="row">
            <div class="product-carousel">
                @foreach (var saleOff in Model.SaleOffs)
                {
                    <div class="col-md-3">
                        <!--item 1 start-->
                        <div class="single-product-item">
                            <div class="sale-product-label"><span>sale</span></div>
                            <div class="single-product clearfix">
                                <a href="#">
                                    <span class="product-image">
                                        <img src="img/product/@saleOff.Images.ProductImage" alt="">
                                    </span>
                                    <span class="product-image hover-image">
                                        <img src="img/product/@saleOff.Images.HoverImage" alt="">
                                    </span>
                                </a>
                            </div>
                            <h2 class="single-product-name"><a href="#">saleOff.ProductName</a></h2>
                            <div class="price-box">
                                <p class="old-price">
                                    <span class="price">@saleOff.OldPrice</span>
                                </p>
                                <p class="special-price">
                                    <span class="price">@saleOff.NewPrice</span>
                                </p>
                            </div>
                        </div><!--end of item 1-->
                    </div><!--end of col-md-3-->
                }


            </div>
        </div>
    </div>
</div>
<!--End of Timer Product Carousel Area-->